<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php"
         colors="true"
         strict="false"
         verbose="false">

    <testsuites>
        <testsuite>
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>Controller</directory>
            <directory>Lib</directory>
            <exclude>
                <directory>build</directory>
                <directory>composer</directory>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text"/>
        <log type="coverage-html" target="build/html" charset="UTF-8"/>
    </logging>
</phpunit>
